<div class="mt-2">
    <div class="form-group">
        <input [(ngModel)]="pomLocation" class="form-control" type="text" placeholder="Enter the location of your pom.xml">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Enter a GAV filter" [(ngModel)]="pomFilter">
    </div>
    <div class="form-group">
        <button (click)="buildTree()" type="button" class="btn btn-primary">Build Tree</button>
    </div>
    
    <div #chart id="chart"></div>
</div>